<div class="container">
  <h1>Real time web chat with Node.js</h1>

  <div id="content"></div>

  <div class="controls">

    <div>
      <label for="name">Name</label><br>
      <input type="text" id="name">
    </div>

    <div>
      <label for="name">Message</label><br>
      <input type="text" id="field">
    </div>

    <input type="button" id="send" value="send">
  </div>
</div>
